.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;

  .row-wrapper {
    display: flex;
  }

  .bg-pentagon {
    position: absolute;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .options-container {
    margin-top: 50px;

    .bg-pentagon {
      img {
        width: 220px;
      }
    }
  }
}
